apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-truenas
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 10.254.0.4
    path: "/mnt/SSD/k8s_static_pv/home-assistant"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-truenas
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 10Gi
  volumeName: nfs-truenas