apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd 
spec:
  destination:
    namespace: kube-system
    server: https://k8s.fondevilla.io:6443
  project: default
  source:
    repoURL: https://helm.cilium.io/
    targetRevision: 1.18.2
    chart: cilium
    helm:
      valuesObject:
        ipam:
          mode: kubernetes
        kubeProxyReplacement: true
        securityContext:
          capabilities:
            ciliumAgent: 
              - CHOWN
              - KILL
              - NET_ADMIN
              - NET_RAW
              - IPC_LOCK
              - SYS_ADMIN
              - SYS_RESOURCE
              - DAC_OVERRIDE
              - FOWNER
              - SETGID
              - SETUID
            cleanCiliumState: 
              - NET_ADMIN
              - SYS_ADMIN
              - SYS_RESOURCE
        cgroup:
          autoMount:
            enabled: false
          hostRoot: /sys/fs/cgroup
        k8sServiceHost: localhost
        k8sServicePort: 7445
        bgpControlPlane:
          enabled: true
        cluster:
          name: workload-cluster
        gatewayAPI:
          enableAlpn: true
          enableAppProtocol: true
          enabled: true
        kubeProxyReplacement: true
        operator:
          replicas: 1
        routingMode: tunnel
        tunnelProtocol: vxlan
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: false
      selfHeal: false