apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
# - argocd-cm.yaml
- namespace.yaml
# - argocd-repositories.yaml
- ingress.yml
- https://raw.githubusercontent.com/argoproj/argo-cd/v2.13.2/manifests/install.yaml
- metrics.yaml
- app.yaml

patches:
- target:
    kind: ConfigMap
    name: argocd-cm
  path: argocd-cm.yaml