CF_DNS_API_TOKEN={{ cloudflare_api_key }}
ACME_EMAIL={{ acme_email }}

VARSITYGW_USER={{ varsitygw_user }}
VARSITYGW_PASSWORD={{ varsitygw_password }}

# Omni configuration
OMNI_IMG_TAG={{ omni_version }}
ETCD_VOLUME_PATH={{ omni_etcd_volume_path }}
ETCD_ENCRYPTION_KEY={{ omni_etcd_encryption_key_path }}
TLS_CERT={{ omni_tls_cert_path }}
TLS_KEY={{ omni_tls_key_path }}
OMNI_ACCOUNT_UUID={{ omni_account_uuid }}
NAME={{ omni_name | default('omni-mini') }}
EVENT_SINK_PORT={{ omni_event_sink_port | default('8090') }}
BIND_ADDR={{ omni_bind_addr | default('0.0.0.0:5425') }}
MACHINE_API_BIND_ADDR={{ omni_machine_api_bind_addr | default('0.0.0.0:8070') }}
K8S_PROXY_BIND_ADDR={{ omni_k8s_proxy_bind_addr | default('0.0.0.0:7445') }}
ADVERTISED_API_URL={{ omni_advertised_api_url }}
ADVERTISED_K8S_PROXY_URL={{ omni_advertised_k8s_proxy_url }}
SIDEROLINK_ADVERTISED_API_URL={{ omni_siderolink_advertised_api_url }}
SIDEROLINK_WIREGUARD_ADVERTISED_ADDR={{ omni_siderolink_wireguard_advertised_addr }}
INITIAL_USER_EMAILS={{ (omni_initial_user_emails | join(',')) if (omni_initial_user_emails is defined) else '' }}
AUTH={{ omni_auth_flags | default('') }}

