apiVersion: v1
kind: PersistentVolume
metadata:
  name: mosquitto
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: 10.254.0.4
    path: "/mnt/SSD/k8s_static_pv/mosquitto"
  storageClassName: manual